.edit-vinyl-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form-edit-vinyl{
    width: 54%;
    text-align: center;
    margin: 10px auto;
}

.title{
    font-size: 20px;
}

.artist{
    font-size: 14px;
}

.edit-vinyl-img{
    width: 300px;
    border-radius: 50%;
    margin: 10px 0;
}


@media screen and (max-width: 900px) {

    .edit-vinyl-container {
        width: 100%;
        display: block;
    }

    .form-edit-vinyl{
        width: 100%;
        margin: 10px;
    }

    .input{
        width: 80%;
    }

    .textarea{
        width: 80%;

    }

    .title{
        font-size: 13px;
    }


}


@media screen and (max-width: 600px) {


    .edit-vinyl-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 10px 0;
    }

}


